@using EntityLayer.Concrete
@model List<Heading>
@{
    ViewBag.Title = "HeadingByCategory";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    var a = 1;
    string color = "";
}



<div class="text-center" style="width: 100%;padding: 10px;">
    <a href="javascript:history.back()" style="float: left;display: inline-block;" class="btn btn-danger">Geri qayıt</a>
    <h5 style="display: inline-block;">Başlıqların siyahısı &nbsp;  <i class="nav-icon fas fa-arrow-alt-circle-down text-info"></i></h5>
    <hr />
</div>
@if (Model.Count == 0)
{
    <div class="text-center bg-info p-5">
        <h3>Bu kateqoriyada hələki başlıq yoxdur.</h3>
    </div>
}
else
{
    <table class="table table-bordered table-hover mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Başlıq adı</th>
                <th>Başlığa aid yazılar</th>
                <th>Başlığın kateqoriyası</th>
                <th>Başlığın müəllifi</th>
                <th>Başlığın statusu</th>
                <th colspan="2">Düzəliş et</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Category.CategoryName == "Təhsil")
                {
                    color = "info";
                }
                else if (item.Category.CategoryName == "Teatr")
                {
                    color = "danger";
                }
                else if (item.Category.CategoryName == "Kitablar")
                {
                    color = "warning";
                }
                else if (item.Category.CategoryName == "İdman")
                {
                    color = "success";
                }
                else if (item.Category.CategoryName == "Filmlər")
                {
                    color = "dark";
                }
                else if (item.Category.CategoryName == "Proqramlaşdırma")
                {
                    color = "secondary";
                }
                else if (item.Category.CategoryName == "Mərc oyunları")
                {
                    color = "primary";
                }
                else
                {
                    color = "gradient-warning";
                }
            <tr>
                <th>@a</th>
                <td>
                    @item.HeadingName<br />
                    <span class="text-danger">
                        @(((DateTime)item.HeadingDate).ToString("dd-MMM-yyyy"))
                    </span>
                </td>
                <td><a class="text-secondary" href="/Content/ContentByHeading/@item.HeadingId">  <i class="nav-icon fas fa-arrow-circle-right text-danger"></i>Bax</a></td>
                <td>
                    <p class="bg-@color">
                        @item.Category.CategoryName

                    </p>
                </td>
                <td>
                    <img style="border-radius: 50%;width: 10%;float: left;" src="~/Content/images/@item.Writer.WriterImage" />
                    <a href="/Writer/EditWriter/@item.WriterId">
                        @item.Writer.WriterName @item.Writer.WriterSurname
                    </a>
                </td>
                @if (item.HeadingStatus == true)
                {
                    <td>
                        <i style="color: green;" class="nav-icon fas fa-check-square">Aktiv</i>
                    </td>
                }
                else
                {
                    <td><i class="nav-icon fas fa-check-square text-danger">Passiv</i></td>
                }
                <td>
                    <a href="/Heading/EditHeading/@item.HeadingId">
                        <i class="nav-icon fas fa-edit text-info">Düzəliş</i>
                    </a>
                </td>

                @if (item.HeadingStatus == true)
                {
                    <td>
                        <a href="/Heading/DeleteHeading/@item.HeadingId">
                            <i class="nav-icon fas fa-trash-restore text-danger">Passiv et</i>
                        </a>
                    </td>
                }
                else
                {
                    <td>
                        <a href="/Heading/RestoreHeading/@item.HeadingId">
                            <i style="color: green;" class="nav-icon fas fa-backspace">Aktiv et</i>
                        </a>
                    </td>
                }
                <td>
                    <a href="/Heading/DeleteHeadingMain/@item.HeadingId">
                        <i class="nav-icon fas fa-trash text-info">sil</i>
                    </a>
                </td>
            </tr>
                a += 1;
            }
        </tbody>
    </table>
}

